/* @media (max-width: 490px) {
    .card-overlay {
        bottom: 123px  !important;
    }
}


@media (min-width: 576px) {
    .card-overlay {
        bottom: 123px !important;
    }
} */

@media only screen and (min-width: 619px) and (max-width: 767px) {
    .card-overlay {
        bottom: 99px !important;
    }
  }


@media (max-width: 767.98px) {
    .navbar .navbar-nav {
        text-align: center !important;
    }

    .header h1 {
        font-size: 2.5rem;
        
    }

    /* .card-overlay {
        bottom: 99px;
    } */
}

@media (max-width: 991.98px) {
    .about .about-text {
        margin-top: 50px !important;
    }

    .about .about-image img {
        width: 100%;
    }

    .statistics {
        height: auto;
    }

    .statistics .row {
        margin: 80px 0;
    }

    .statistics .col-lg-3 {
        margin: 20px 0;
    }
}